<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container-fluid">

  <h2>Project: <%= @project_name %></h2><br>
  <%= "file count: #{@number_of_swift_files}" %><br>

  <h3>Declaration Counts</h3>

  <div class="text-center">
    <%= form_tag("stats", method: "get") do %>
      <%= hidden_field_tag(:file_paths, value = @file_paths)  %>

      <%= label_tag(:keywords, "keywords:") %>
      <%= text_field_tag(:keywords) %>
      <%= submit_tag("submit") %>
    <% end %>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>Total</h4>
        </div>

        <div class="panel-body">
          <table style="width:50%">
            <tr>
              <th>declaration</th>
              <th>count</th>
            </tr>
            <% @combined_stats.each do |keyword, count| %>
              <tr>
                <td><%= keyword %></td>
                <td><%= count %></td>
              </tr>
            <% end %>
          </table>

        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>  </div>

  <div class="row">
    <% @individual_files_stats.each do |file, stats_dict| %>
      <div class="col-md-3">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4 data-toggle="tooltip" data-placement="bottom" title="<%= file.source_path %>">
              <%= file.name %>
            </h4>
          </div>

          <div class="panel-body">
            <table style="width:50%">
              <tr>
                <th>declaration</th>
                <th>count</th>
              </tr>
              <% stats_dict.each do |keyword, count| %>
                <tr>
                  <td><%= keyword %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </table>

          </div>
          <div class="panel-footer">

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
